<!DOCTYPE html>

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Customer Landing Page</title>

    </head>


    <body>
        
        <h1>Welcome Customers</h1>

        <form action="{{ url_for('customerFunction', functionality = 'createEvent') }}">
            <input type="submit" value="Create an event">
        </form>

        <form action="{{ url_for('customerFunction', functionality = 'Logout') }}">
            <input type="submit" value="Logout">
        </form>



    </body>

</html>