<!DOCTYPE html>

  <head>
  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='loginAs.css') }}">
   

    <title>Login As Owner</title>
  </head>

  <body>

      <h1>Welcome Back Owner!</h1>

      <form action="{{ url_for('loginOwner') }}" method="post">
         
      <ul>
        <li>
          <input class = "typing" type="text" name="username">
          <h2 class = "userPass">Username </h2>
        </li>
        <li>
          <input class = "typing" type="password" name="password">
          <h2 class = "userPass">Password</h2>

        </li>
      </ul>

      <input class = "submit" type="submit" value="Login">
    </form>
    
  </body>

</html>
